<footer class="footer">
  <div class="line"></div>
  <div>
    <div class="row ">
      <div class="col-sm-8 col-xs-5">
        <span class="hidden-xs">
          Franziska Conzen-Nehb<br />
          Praxis für Krankengymnastik<br />
        </span>
        Julius-Brecht-Str. 6<br />
        Im Elbe-Einkaufszentrum<br />
        22609 Hamburg
      </div>
      <div class="col-sm-4 col-xs-7">
        Öffnungszeiten:<br />
        Mo, Di, Do <span class="pull-right">8:00 bis 20:00 Uhr</span><br />
        Mi: <span class="pull-right">8:00 bis 17:00 Uhr</span><br />
        Fr: <span class="pull-right">8:00 bis 16:00 Uhr</span><br />
        Tel:<span class="pull-right">040 - 80 01 03 44</span>
      </div>

      <div>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "http://praxisfranziskaconzen-nehb.de/",
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "(+49)040 - 80 01 03 44",
            "contactType": "customer service"
          }]
        }
        </script>
      </div>
    </div>
  </div>
  <div>  {% include imprint.html %} </div>
</footer>