<footer>
  <div class="line"></div>
  <div>
    <div class="row">
      <div class="col-sm-8">
        Franziska Conzen-Nehb<br />
        Praxis für Krankengymnastik<br />
        Julius-Brecht-Str. 6<br />
        Im Elbe-Einkaufszentrum<br />
        22609 Hamburg
      </div>
      <div class="col-sm-4">
        Öffnungszeiten:<br />
        Mo, Di, Do <span class="pull-right">8:00 bis 20:00 Uhr</span><br />
        Mi: <span class="pull-right">8:00 bis 17:00 Uhr</span><br />
        Fr: <span class="pull-right">8:00 bis 16:00 Uhr</span><br />
        Tel:<span class="pull-right">040 - 80 01 03 44</span>
      </div>
    </div>
  </div>
</footer>