<div class="panel-body">
  <div class="hidden-xs-down">
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.copxm/maps/embed/v1/place?q=Julius-Brecht-Str.%206&key=AIzaSyAT22dbPlVmx5VPo_qJe1if2v7CZ6lNooY" allowfullscreen></iframe>
  </div>

  <div class="visble-xs-down hidden-xs-up">
    <iframe width="100%" height="150px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Julius-Brecht-Str.%206&key=AIzaSyAT22dbPlVmx5VPo_qJe1if2v7CZ6lNooY" allowfullscreen></iframe>
  </div>
</div>