<div class="panel-body purpleBox">
  <div class="row">
    <div class="col-sm-5">
      <div>Herzlich Willkommen in der Praxis für Krankengymnas, Franziska Conzen-Nehb.</div>
      <div class="margin_two">Ich freue mich auf Ihren Besuch. Ihre Franziska Conzen-Nehb</div>
    </div>
    <ul  class="col-sm-5 col-sm-offset-2">
      <li>Krankengymnsa sche Behandlungen</li>
      <li>Chirugische, orthopädische,
          neurolische Nachbehandlungen</li>
      <li>Behandlungen nach Bobath Konzept - PNF</li>
      <li>Manuelle Thearpie</li>
      <li>Manuelle Lymphdrainage</li>
      <li>Gerätegestützte Krankengymnsatik</li>
    </ul>
  </div>
</div>