<div class="panel-body leistung_box">
  <section class="row hidden-xs">
    <div class="col-sm-5" id="leistung_p">
      <p>Herzlich Willkommen in der Praxis für Krankengymnastik, Franziska Conzen-Nehb.
      <br><br> Ich freue mich auf Ihren Besuch. Ihre Franziska Conzen-Nehb</span>
      </p>
      </div>
    <ul  class="col-sm-5 col-sm-offset-2">
      <li>Krankengymnastische Behandlungen</li>
      <li>Chirugische, orthopädische,
          neurologische Nachbehandlungen</li>
      <li>Behandlungen nach Bobath Konzept - PNF</li>
      <li>Manuelle Thearpie</li>
      <li>Manuelle Lymphdrainage</li>
      <li>Gerätegestütze Krankengymnsatik</li>
    </ul>
  </section>

  <section class=" visible-xs">
    <div>
      <p>Herzlich Willkommen in der Praxis für Krankengymnastik, Franziska Conzen-Nehb.
      <br><br> Ich freue mich auf Ihren Besuch. Ihre Franziska Conzen-Nehb</span>
      </p>
    </div>
    <ul id="leistung_list">
      <li>Krankengymnastische Behandlungen</li>
      <li>Chirugische, orthopädische,
          neurologische Nachbehandlungen</li>
      <li>Behandlungen nach Bobath Konzept - PNF</li>
      <li>Manuelle Thearpie</li>
      <li>Manuelle Lymphdrainage</li>
      <li>Gerätegestütze Krankengymnastik</li>
    </ul>
  </section>
</div>