<div class="panel-body purpleBox">
  <div class="row hidden-xs">
    <div class="col-sm-5">
      <div>Herzlich Willkommen in der Praxis für Krankengymnastik, Franziska Conzen-Nehb.</div>
      <div class="margin_top_two">Ich freue mich auf Ihren Besuch. Ihre Franziska Conzen-Nehb</div>
    </div>
    <ul  class="col-sm-5 col-sm-offset-2">
      <li>Krankengymnastische Behandlungen</li>
      <li>Chirugische, orthopädische,
          neurolische Nachbehandlungen</li>
      <li>Behandlungen nach Bobath Konzept - PNF</li>
      <li>Manuelle Thearpie</li>
      <li>Manuelle Lymphdrainage</li>
      <li>Gerätegestütze Krankengymnsatik</li>
    </ul>
  </div>

  <div class=" visible-xs">
    <div>
      <p>Herzlich Willkommen in der Praxis für Krankengymnastik, Franziska Conzen-Nehb. Ich freue mich auf Ihren Besuch. Ihre Franziska Conzen-Nehb
    </p>
    <ul class="leistung_pading">
      <li>Krankengymnastische Behandlungen</li>
      <li>Chirugische, orthopädische,
          neurolische Nachbehandlungen</li>
      <li>Behandlungen nach Bobath Konzept - PNF</li>
      <li>Manuelle Thearpie</li>
      <li>Manuelle Lymphdrainage</li>
      <li>Gerätegestütze Krankengymnastik</li>
    </ul>
  </div>
  
</div>