@media(min-width:900px) {
  .container {
    width: 750px;
  }
}

.ueber_mich_page {
  h1 {
  font-size:2em;
  margin-top:0;

  }

  h2 {
    font-size:1.5em;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  img {
    width:100%;
  }

  p {
    font-size:1.3em;
    font-weight:lighter;
  }
}

html {
  margin-top:1em;
  margin-bottom:1em;
}


header {
  .line {
    margin-top:0;
  }

  #title {

    margin-bottom:-0.2em;
    font-size:1.9em;
    font-weight:lighter;

    a {
      color: #6a3d63;
      text-decoration:none;
    }

    a:hover {
      color: #6a3d63;
      text-decoration:none;
    }
  }

  h2 {
    font-size:1.2em;
    font-weight:lighter;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0em;

  h3 {
    font-size:1.2em;
    font-weight:lighter;
  }
}

@media (min-width: 992px){
  .navbar li {
      margin-left : .5em;
      margin-right : .5em;
  }
}
.navbar-nav {
  li {

    a {
      color: #6a3d63;
      font-size: 1em;
    }

    a:hover, a:focus {
      color:#bdd3c0;
      background-color:transparent
    }

    .active {
      color:#bdd3c0;
    }
  }
}
.navbar-collapse{
  padding-right:0px;
}

.navbar-toggle {
  margin-right:0;
  margin-top:10px;
}

.line {
  background-color:#6a3d63;
  height:1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.leistung_box {
  background-color:#6a3d63;
  color:white;

  section {
    margin-left:1em;
    margin-top:1em;
  }
}


.lines_img {
  background-color:#bdd3c0;
  width:100%;
  height:90%;
}

.remove_right_pading {
  padding-right:0px;
}

.leistung_page{
  background-color:#bdd3c0;

  h2 {
    margin-top:0;
    padding-top:0.4em;
  }

  li {
    font-size:16.9px;
    margin-bottom:9px;
    margin-top:18px;
    font-weight:lighter;
  }
}

.footer {
  font-size: 0.9em;
}

button#disclaimerButton {
  font-size: 1.5em;
  background-color: transparent;
  font-weight: 300;

  border: none;
  width: 100%;
  color: #6a3d63;
}